/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size:1rem;
    padding: 0px 11px;
}
/* home section  */
#home{
    height: 260px;
    padding:0px 28px;
}
#home::before{
    height: 365px;
}
#home p{
    font-size: 13px;
}
/* services section  */
#services{
    flex-direction: column;
}

/* client section  */
#clients {
    flex-wrap: wrap;
}
#clients img{
    width: 60px;
    padding: 5px;
}
/* contact us section  */

/* footer  */

/* utility classes */
.h-primary{
    font-size: 24px;
}
.btn{
    font-size: 10px;
    padding: 4px 8px;
}